/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

main.container{
    width: 70%;
    margin: 0 auto;
}

main.container>section.top{
    text-align: center;
    margin-bottom: 2rem;
}

section.top>h1{
    padding: 2rem 0 2rem 0;
    color: #e53170;
    font-size: 2rem;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

section.clearfix>div.float-left{
    float: left;
}

section.clearfix>div.employee-box{
    width: calc((100% / 3) - 1rem);
    background-color: #0f0e17;
    margin: 0 0 2rem 1rem;
    color: white;
}

div.employee-box>img{
    width: 30%;
}

div.employee-box>div.description{
    display: inline-block;
    color: white;
    margin-left: .5rem; 
}

div.description>span{
    display: block;
    padding-bottom: .6rem;
}

div.description>span.name{
    font-weight: bolder;
    
}

div.description>span.email{
    color: #0b96d9;
}




